$primaryBlueLight: #ACDBDB;
$primaryBlue: #7AD8D8;
$primaryBlueDark: #46BABA;
$primaryBlueDarkness: #0E6D6D;

$additionalDark: #222222;
$additionalGrey: #A0A4A8;
$additionalLight: #F9F9FA;

$error: #E61B3F;
$success: #46BA74;